<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Damper Control</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
    <script src="./static/bower_components/react/react.development.js"></script>
    <script src="./static/bower_components/react/react-dom.development.js"></script>
    <script src="../static/js/libraries/jquery-3.2.1.js"></script>
    <style>
        #PositionTable {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 30%;
        }

        #PositionTable td, #PositionTable th{
            border: 1px solid #ddd;
            padding-right: 10px;
            padding-left: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    This is the control center
<div id="PositionTable"></div>
</body>

<script>



    function refresh_positions(){
	$.getJSON('/refresh_positions', function(data) {
	    var output = '<h1>Positions</h1>'
	    output += '<th>Room</th><th>Position</th>'
	    $.each(data["output_items"], function(key,val){
		    output += '<tr><td>' + val.room + '</td><td>' + val.value + '</td></tr>'
	    });
        output += '</table>'
	    $('#PositionTable').html(output);
	    });
    }

    refresh_positions()


</script>
</html>